@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url(https://fonts.googleapis.com/css?family=Alice);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.row2 {
    display: flex;
    padding: 75px 50px;
    background-color: #EDEDED;
    position: relative;
    width: 100%;
    justify-content: space-around;
  }
  
.font {
  font-family: 'Alice';
  padding-top: 15px;
  font-size: 20px;
}

.personfont {
  font-family: 'Bebas Neue';
  font-size: 25px;
  padding-top: 15px;
}
  .person1 {
    width: 200;
    height: 200;
    border-radius: 100;
    overflow: "hidden";
    border-width: 3;
    border-color: red;
    color: black;
  }


  .person2 {
    width: 200;
    height: 200;
    border-radius: 100;
    overflow: "hidden";
    border-width: 3;
    border-color: red;
    color: black;
  }

  .person3 {
    width: 200;
    height: 200;
    border-radius: 100;
    overflow: "hidden";
    border-width: 3;
    border-color: red;
    color: black;
  }