@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url(https://fonts.googleapis.com/css?family=Alice);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.row2 {
    display: flex;
    padding: 75px 50px;
    background-color: #EDEDED;
    position: relative;
    width: 100%;
    justify-content: space-around;
  }
  
.font {
  font-family: 'Alice';
  padding-top: 15px;
  font-size: 20px;
}

.personfont {
  font-family: 'Alice';
  font-size: 20px;
  padding-top: 15px;
}
.person {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: "hidden";
  border-width: 3px;
  border-color: red;
  color: black;
}