.form-button2{
    background-color: red;
    width: 100px;
    color: white;
    height: 25px;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
    padding: 3px 10px;
}

.form-button2:hover{
    color: red;
    background-color: white;
    border-radius: 4px;
}

.form-input2{
    height: 25px;
    margin-left: 10px;
    font-size: 15px;
}

.header{
    margin-left: 10px;
}

.bubble{
    margin-left: 10px;
    display: block;
    width: 500px;
    cursor: default;
    align-content: center;
    align-items: center;
}