@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.speaker-container{
    /*background: var(--bgColor);*/
    height: 600px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.speaker-header{
    color: #ffffff;
    width: 100%;
    font-family: 'Roboto';
    font-size: 30px;
    text-align: center;
    white-space: pre-wrap;
    transition-timing-function: ease;
    transition-duration: 0.6s;
    transition-delay: 0.3s;
    margin-top: 10px;
    margin-bottom: 50px;
}

.slideshow-container{
    position:relative;
    height: 600px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.img-logo {
    padding: 10px;
    width: 125px;
    height: 125px;
}

.img-enter {
  opacity: 0;
  transform: scale(0.9);
}
.img-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}
.img-exit {
  opacity: 1;
}
.img-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

