/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import '../util/imports.css';

.App {
    /* font-family: Impact; */
    text-align: center;
  }
  
  /* SOCIAL STUFF */

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #eee;
    padding: 10px 50px;
    position: relative;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  a.social {
    margin: 15px;
    -webkit-transition: -webkit-transform 250ms;
    transition: -webkit-transform 250ms;
    -o-transition: transform 250ms;
    transition: transform 250ms;
    transition: transform 250ms, -webkit-transform 250ms;
    display: inline-block
  }

  .social-container {
    padding: 0px
  }

  .contact {
    padding-top: 23px;
    font-family: "Alice";
  }
  
  .copyright {
    padding-top: 33px;
    font-family: 'Alice'
  } 

  a.social:hover {
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  
  a.youtube {
    /* color: #eb3223; */
    color: black;
  }

  a.instagram {
    color: black;
  }

  a.linkedin {
    /* color: #0077b5; */
    color: black;
  }
  
  .footer-icons{
    width:50px;
    height:50px;
  }