@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url(https://fonts.googleapis.com/css?family=Alice);
@import url('https://use.typekit.net/bok8vky.css');

.App {
    /* font-family: Impact; */
    text-align: center;
  }
  
  /* SOCIAL STUFF */

  .row {
    display: flex;
    background: #eee;
    padding: 10px 50px;
    position: relative;
    width: 100%;
    justify-content: space-around;
  }

  a.social {
    margin: 15px;
    transition: transform 250ms;
    display: inline-block
  }

  .social-container {
    padding: 0px
  }

  .contact {
    padding-top: 23px;
    font-family: "Alice";
  }
  
  .copyright {
    padding-top: 33px;
    font-family: 'Alice'
  } 

  a.social:hover {
    transform: translateY(-2px);
  }
  
  a.youtube {
    /* color: #eb3223; */
    color: black;
  }

  a.instagram {
    color: black;
  }

  a.linkedin {
    /* color: #0077b5; */
    color: black;
  }
  
  .footer-icons{
    width:50px;
    height:50px;
  }